{{#
    @name Logo
    @desc The logo component with a `width` attribute.
#}}

<!-- /components/_logo.antlers.html -->
<a
    aria-label="Logo {{ config:app:name }}"
    href="{{ site:url }}"
>
    <img src="/visuals/OITT_25_LOGO_ELEMENTS-03.png" class="hidden lg:block select-none w-24 {{ class }}" width="{{ width }}" alt="{{ config:app:name }}"/>
    <img src="/visuals/OITT_25_LOGO_ELEMENTS-03.png" class="block lg:hidden select-none w-20 {{ class }}" width="{{ width }}" alt="{{ config:app:name }}"/>
</a>
<!-- End: /components/_logo.antlers.html -->
