{{#
    @name Peak toolbar
    @desc The Peak toolbar component displaying debug information.
#}}

<!-- statamic-peak-tools::components/_toolbar.antlers.html -->

        <aside
            class="hidden fixed lg:flex flex-col h-screen z-50 top-10 left-10 text-xs shadow-sm divide-solid motion-safe:transition-opacity hover:opacity-100 has-[button:focus,a:focus]:opacity-100 max-h-screen"

        >
        {{ partial:components/logo width="120" class="pb-12" }}
        <img class="max-w-[95px] mx-auto" src="/visuals/OITT24-poster-date.png" alt="">
        </aside>

<!-- End: statamic-peak-tools::components/_toolbar.antlers.html -->
