{{#
    @name Peak toolbar
    @desc The Peak toolbar component displaying debug information.
#}}

<!-- statamic-peak-tools::components/_toolbar.antlers.html -->

        <aside
            class="hidden fixed lg:flex flex-col h-screen z-50 top-10 left-10 text-xs divide-x divide-white shadow-sm divide-solid motion-safe:transition-opacity hover:opacity-100 has-[button:focus,a:focus]:opacity-100"

        >
        {{ partial:components/logo width="120" class="pb-12" }}
        <img class="flex" src="/visuals/OITT24-poster-date 1.png" alt="">
        </aside>

<!-- End: statamic-peak-tools::components/_toolbar.antlers.html -->
