{{#
    @name Layout
    @desc The default layout file.
#}}

    <!-- /layout.antlers.html -->
    <!doctype html>
    <html lang="{{ site:short_locale }}"
          class="antialiased scroll-smooth scroll-pt-4 h-full ">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible"
                  content="IE=edge">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, viewport-fit=cover">
            {{ vite src="resources/css/site.css|resources/js/site.js" }}
            {{ partial:statamic-peak-seo::snippets/seo }}
            {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
            {{ partial:statamic-peak-tools::snippets/live_preview }}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        </head>

        <body
              class="flex flex-col min-h-screen bg-osmosis-brown text-white selection:bg-primary/20 selection:text-highlight-yellow bg-[url('../../public/visuals/OITT_25_BG_19x6.jpg')] ">
            {{ stack:seo_body }}
            {{ partial:statamic-peak-tools::snippets/noscript }}
            {{ partial:statamic-peak-tools::navigation/skip_to_content }}
            {{ partial:components/svg_filter }}
            {{# {{ partial:layout/header }} #}}
            <div class="fixed h-[90vh] flex-col justify-between max-w-[20vw] top-8 left-8 hidden lg:flex z-50">
                <div>
                {{ partial:components/logo width="120" class="hidden lg:flex z-40" }}
                <div class="mt-8 text-base font-serif flex flex-col">
                    {{ configuration:desktop_header_text | nl2br }}
                </div>
                <ul class="flex flex-col gap-y-4 mt-12 text-primary">

                    {{ nav:main max_depth="2" include_home="true"  }}
                        {{ unless no_results }}
                            <li
                                class="relative leading-none"
                            >
                                <a
                                    class="
                                        osmo flex items-center font-mono hover:text-osmosis-orange"
                                        {{ if anchor }}href="{{ homepage}}{{ anchor}}"{{ else }}href="{{ url}}"{{ /if }}
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /unless }}
                    {{ /nav:main }}
                </ul>
                </div>
                <ul class="flex flex-col gap-y-2 mt-12 text-white font-serif underline underline-offset-2">
                    <li>
                        <a class="hover:text-osmosis-orange" href="{{ configuration:instagram }}" target="_blank" rel="noopener">IG</a>
                    </li>
                    <li>
                        <a class="hover:text-osmosis-orange" href="{{ configuration:soundcloud }}" target="_blank" rel="noopener">Soundcloud</a>
                    </li>
                    <li>
                        <a class="hover:text-osmosis-orange" href="{{ configuration:discord }}" target="_blank" rel="noopener">Discord</a>
                    </li>
                </ul>
                
            </div>
            {{ template_content }}
            <div class="fixed lg:max-w-[20vw] bottom-6 right-6 lg:top-8 lg:right-8 z-40">
                <a target="_blank"
                rel=""
                class="text-black bg-primary px-3 py-2 rounded-3xl transition font-mono hover:bg-osmosis-orange"
                href="{{ configuration:tickets_link }}">Early bird tickets</a>
            </div>
            {{ partial:layout/footer }}
            {{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
                    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js" integrity="sha512-+LXqbM6YLduaaxq6kNcjMsQgZQUTdZp7FTaArWYFt1nxyFKlQSMdIF/WQ/VgsReERwRD8w/9H9cahFx25UDd+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}}
                    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
                    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script> 
            <script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"></script>
            {{# {{ vite src="resources/js/effects/text-animation/text-animation-1.js" }} #}}
            {{ vite src="resources/js/effects/svg-filter/main.js" }}
            {{# {{ vite src="resources/js/effects/svg-filter/filters/filter1.js" }} #}}
        </body>

    </html>
    <!-- End: /layout.antlers.html -->