{{#
    @name Layout
    @desc The default layout file.
#}}

    <!-- /layout.antlers.html -->
    <!doctype html>
    <html lang="{{ site:short_locale }}"
          class="antialiased scroll-smooth scroll-pt-4 h-full ">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible"
                  content="IE=edge">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, viewport-fit=cover">
            {{ vite src="resources/css/site.css|resources/js/site.js" }}
            {{ partial:statamic-peak-seo::snippets/seo }}
            {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
            {{ partial:statamic-peak-tools::snippets/live_preview }}
        </head>

        <body
              class="flex flex-col min-h-screen bg-dark-blue text-primary selection:bg-primary/20 selection:text-highlight-yellow">
            {{ stack:seo_body }}
            {{ partial:statamic-peak-tools::snippets/noscript }}
            {{ partial:statamic-peak-tools::navigation/skip_to_content }}
            {{ partial:components/side_nav }}
            {{ partial:components/svg_filter }}

            {{ template_content }}
            {{ partial:layout/footer }}
            {{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
                    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js" integrity="sha512-+LXqbM6YLduaaxq6kNcjMsQgZQUTdZp7FTaArWYFt1nxyFKlQSMdIF/WQ/VgsReERwRD8w/9H9cahFx25UDd+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}}
                    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
                    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script> 
            <script src="https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js"></script>
            {{# {{ vite src="resources/js/effects/text-animation/text-animation-1.js" }} #}}
            {{ vite src="resources/js/effects/svg-filter/main.js" }}
            {{# {{ vite src="resources/js/effects/svg-filter/filters/filter1.js" }} #}}
        </body>

    </html>
    <!-- End: /layout.antlers.html -->