{{#
    @name Main desktop navigation
    @desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden lg:block lg:z-50" aria-label="{{ trans:strings.main_navigation }}">
    <ul class="flex items-center gap-x-8">
        {{ social_media:social_media }}
        <a class="flex items-center osmo text-primary bg-blend-multiply hover:bg-black/[2.5%]"
           href="{{ prefix }}{{ handle }}"
           rel="noopener{{ type == 'mastodon' ?= ' me' }}"
           aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
           target="_blank">{{ svg :src="type" attr:class="w-4 h-4 overflow-visible fill-current transition hover:fill-osmosis-orange" attr:alt="" attr:aria-hidden="true" }}</a>
        {{ /social_media:social_media }}
        {{ nav:main max_depth="2" include_home="true" select="title|url" }}
            {{ unless no_results }}
                <li
                    class="relative leading-none"
                >
                    <a
                        class="
                            osmo flex items-center font-mono text-sm hover:text-osmosis-orange"
                            href="#{{ title | slugify }}"
                        
                
                    >
                        {{ title }}

                    </a>


                    
                </li>
            {{ /unless }}
        {{ /nav:main }}
        <a target="_blank"
        rel=""
        class="text-black bg-primary px-3 py-2 rounded-3xl text-sm transition hover:bg-osmosis-orange"
        href="{{ configuration:tickets_link }}">Buy tickets</a>
    </ul>
</nav>


<!-- End: /navigation/_main_desktop.antlers.html -->
