{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="md:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll.noautofocus="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>
    <button
        @click.prevent.stop="mobileNavOpen = !mobileNavOpen"
        class="fixed bottom-4 right-4 z-30 "
        :aria-label="mobileNavOpen ? '{{ trans:strings.nav_close }}' : '{{ trans:strings.nav_open }}'"
        :aria-expanded="mobileNavOpen"
       
    >{{ partial:components/logo width="120" class="z-50"}}</button>

    <div
        class="fixed inset-0 z-20 pt-8 px-8 pb-12 flex flex-col justify-end bg-dark-blue/90"
        x-show="mobileNavOpen"
        x-transition.origin.bottom.right
    >
        <ul class="flex flex-col py-2 gap-y-3 overflow-auto mb-8">
            {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                {{ unless no_results }}
                {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                {{ unless no_results }}
                        <li
                        class="relative leading-none"
                    >
                        <a
                            @click="mobileNavOpen = false"  
                            class="
                                flex items-center font-mono text-lg hover:text-primary"
                                href="#artists"
                            
                    
                        >
                            Artists

                        </a>


                        
                    </li>
                    <li
                        class="relative leading-none"
                    >
                        <a
                            @click="mobileNavOpen = false"
                            class="
                                flex items-center font-mono text-lg hover:text-primary"
                                href="#{{ title | slugify }}"
                            
                    
                        >
                            {{ title }}
    
                        </a>
    
    
                        
                    </li>
                {{ /unless }}
            {{ /nav:main }}
                {{ /unless }}
            {{ /nav:main }}
        </ul>
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
