{{#
    @name Artist grid
    @desc The Artist grid page builder block.
    @set page.page_builder.cards
#}}

    <!-- /page_builder/_artists)grid.antlers.html -->
    {{ partial:page_builder/block }}
    {{ block:title ?= { partial:typography/h2 :content="block:title" class="text-left mb-8" } }}
    <div
         class="max-w-5xl mx-auto " id="artists">
        


        {{ collection:artists }}
        
            {{ partial:components/artist_grid }}
        {{ /collection:artists }}

    </div>
    {{ /partial:page_builder/block }}
    <!-- End: /page_builder/_artists)grid.antlers.html -->