{{#
    @name Cards
    @desc The Cards page builder block.
    @set page.page_builder.cards
#}}

<!-- /page_builder/_cards.antlers.html -->
{{ partial:page_builder/block }}
    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap mt-16 lg:mt-32">
        {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-start-4 md:col-span-6    mb-4" } }}
        <article class="prose md:col-start-4 md:col-span-6">
            <p>Osmosis in the Trees 2024 is right around the corner! Download the schedules below to plan your weekend and use as your phone home screen.</p>
        </article>
        {{ block:cards }}
            <article
                class="
                    flex flex-col justify-between items-start py-6 shadow-lg rounded md:col-span-6 md:col-start-4

                "
            >
                <div class="mb-4">
                    {{ if button }}
                        {{ button }}
                            <a class="group " {{ partial:statamic-peak-tools::snippets/button_attributes }} aria-hidden="true" tabindex="-1">
                                {{ partial:typography/h3 class="mb-2" color="group-hover:underline" :content="title" }}
                            </a>
                        {{ /button }}
                        {{ partial:typography/h3 class="sr-only" :content="title" }}
                    {{ else }}
                        {{# {{ partial:typography/h3 class="mb-2 text-primary" :content="title" }} #}}
                    {{ /if }}
                    {{ if image }}
                    <a target="_blank" rel="norefer" href="{{glide:image }}"><img src="{{ glide:image }}" alt=""></a>
                    {{ /if }}
                    {{ if text }}
                        {{ partial:typography/p class="mb-4" :content="text" }}
                    {{ /if }}
                </div>
                {{ button }}
                    {{ partial:components/button }}
                {{ /button }}
            </article>
        {{ /block:cards }}
    </div>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_cards.antlers.html -->
